{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Reset Password{% endblock %}

{% block page %}
<div style="width:100%;">
<div style="margin:auto;width:600px;">
        <form class="form-vertical" method="post" onsubmit="document.getElementById('resetpass').disabled=true;">
        {% csrf_token %}
        <div class="mg-notification {% if not alertmsg %}rs-hidden{% endif %}" style="color:red;">
            {{alertmsg}}
        </div>
          <fieldset>
            <div class="rs-control-group">
                <label class="rs-control-label">Input email address:</label>
                <div class="rs-controls">
                    <input type="email" name="email" id="email" value="{{email}}" class="rs-input-large" autofocus>
                    <button type="button" class="rs-btn rs-btn-secondary ml10" onclick="sendmail()">Get token.</button>
                </div>
                <label class="rs-control-label">Input token:</label>
                <div class="rs-controls">
                    <input type="text" name="token" id="token" value="{{token}}" class="rs-input-large">
                </div>
                <label class="rs-control-label">Input password</label>
                <div class="rs-controls">
                    <input type="password" name="password" id="password" value="{{password}}"  class="rs-input-large">
                </div>
                <label class="rs-control-label">Input confirmed password</label>
                <div class="rs-controls">
                    <input type="password" name="confirm_password" id="confirm_password"  value="{{confirm_password}}" class="rs-input-large" >
                </div>
            </div>
            <p><button type="submit" class="rs-btn rs-btn-primary" id="resetpass">Reset</button></p>
        </fieldset>
    </form>
</div>
</div>

<script type="text/javascript">
    function sendmail(){
        if (!$('#email').val()){
            $('.mg-notification').html('Please input your email address.');
            $('#email').focus();
            return;
        }
        $.ajax({type:"post",url:location.href.split("#")[0],data:{ajax:'ajax',oper:'sendmail',
        email:$('#email').val(),csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()},dataType:'json',crossDomain:!0
        }).then(function(b){
            $('.mg-notification').removeClass('rs-hidden');
            if (b.result){
                $('.mg-notification').html(b.msg);
                $('.mg-notification').removeClass('error');
                $('.mg-notification').addClass('info');
            }else{
                $('.mg-notification').html(b.msg);
                $('.mg-notification').addClass('error');
                $('.mg-notification').removeClass('info');
            }
        },function(a){
            $('.mg-notification').removeClass('rs-hidden');
                $('.mg-notification').addClass('error');
                $('.mg-notification').removeClass('info');
            $('.mg-notification').html('request failed, please try again.');
        });
    }
</script>
{% endblock %}
