{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block page %}
<div style="width:100%;">
<div style="margin:auto;width:600px;">
  <h2>Sign up</h2>
  <form method="post" enctype='multipart/form-data' >
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text | safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <input type="checkbox" name="donate"/>Would you like to make a small donation to support our efforts to promote American businesses?<br/>
    <button type="submit">Sign up</button>
  </form>
</div>
</div>
{% endblock %}
